li {
    border-right-style: solid;
    border-bottom-style: solid;
    margin: 10px;
    border-color: #FFCC33;
    border-width: 0.2em;
    font-weight: 800;
    /* background: hotpink; */
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: indigo; */
}