.albumwrapper {
    padding: 0.5em;
    /* background: greenyellow; */
}

.album {
    padding: 0.5em;
    max-width: 400px;
    min-width: 300px;
}

.content {
    font-weight: 700;
}

.title {
    font-weight: 600;
}